body {
  font-family: "Arial", sans-serif;
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}
.nav {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

header {
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.logo h2 {
  font-size: 40px;
  font-weight: bold;
}

.navigation {
  display: flex;
  gap: 30px;
  list-style: none;
}

.navigation li {
  position: relative;
}

.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
}

.navigation li::after {
  content: "▼";
  font-size: 10px;
  margin-left: 5px;
  color: black;
}

.login {
  display: flex;
  gap: 20px;
  align-items: center;
}

.login a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.login button {
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid black;
  background: transparent;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: auto;
  padding: 50px;
}

.text-section {
  max-width: 500px;
}

.text-section h1 {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-section p {
  font-size: 18px;
  color: gray;
  margin-bottom: 30px;
}

.btn {
  background: black;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
}

.clients {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.clients img {
  height: 30px;
}

.image-section img {
  width: 400px;
  border-radius: 10px;
}
